html
  head
    title!= title
    style.
      body {
        background-color: #f2f2f2;
      }

      .Y-row {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-flow: row nowrap;
            -ms-flex-flow: row nowrap;
                flex-flow: row nowrap;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
            -ms-flex-pack: center;
                justify-content: center;
      }

      .Y-widget {
        width: 900px;
        margin: 0 auto;
        margin-top: 100px;
      }

      .Y-img img, .E-img img {
        border: none;
      }

      .Y-img, .E-img {
        margin: 10px;
      }

      .E-img {
        opacity: 0;
      }

  body
    #root
    script(type='text/javascript').
      window.images = !{JSON.stringify(images)}
    script(src='/static/js/bundle.js')

